<h1>All Dog Breeds</h1>

<%= form_with url: breeds_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :search, "Search Breed:" %>
    <%= form.text_field :search, value: params[:search] %>
    <%= form.submit "Search" %>
  </div>
<% end %>

<br>

<p><strong>Total Breeds:</strong> <%= @breeds.total_count %></p>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Popularity</th>
    </tr>
  </thead>

  <tbody>
    <% @breeds.each do |breed| %>
      <tr>
        <td>
          <%= link_to breed.name, breed_path(breed) %>
        </td>

        <td>
          <%= breed.group.name %>
        </td>

        <td>
          <%= breed.popularity %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= paginate @breeds %>
</div>