<!DOCTYPE html>
<html>
  <head>
    <title>Dog Breed Explorer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %> |
      <%= link_to "Breeds", breeds_path %> |
      <%= link_to "Groups", groups_path %> |
      <%= link_to "Temperaments", temperaments_path %> |
      <%= link_to "About", about_path %>
    </nav>

    <hr>

    <main>
      <%= yield %>
    </main>
  </body>
</html>